
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

pre {
    background: none;
}

article.snippet {
    border-bottom: 1px dashed #e3e3e3;
    margin-bottom: 2em;
}

.flex {
    flex: 1;
}

.tabs:not(:last-child) {
    margin-bottom: 0;
}

.tab-content {
    border: 1px solid #dbdbdb;
    border-top: none;
    display: none;
    padding: 2em 0;

    &.is-active {
        display: block;
    }
}
